@model IEnumerable<TST.DAL.TSTTicketStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatusDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketStatusID })
        </td>
    </tr>
}

</table>
