@model TST.DAL.TSTTicket

@{

    switch (Model.TicketStatusID)
    {
        case 1:
            ViewBag.Title = "Assign Ticket ID: " + Model.GetUniqueId;
            break;
        case 2:
            //move it to in progress status
            ViewBag.Title = "Begin working Ticket ID: " + Model.GetUniqueId;
            break;
        case 3:
            //resolve the ticket
            ViewBag.Title = "Resolve working Ticket ID: " + Model.GetUniqueId;
            break;
        case 4:
            //reopen ticket

            ViewBag.Title = "Re-Open working Ticket ID: " + Model.GetUniqueId;
            break;
        default:
            break;
    }



}
<div class="frm-wrapper">
    <h2>@ViewBag.Title</h2>
    <div class="form-horizontal">
        <div class="frm-inner">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.TicketSubject)
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.TicketSubject)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.TicketDescription)
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.TicketDescription)
                </div>
            </div>


            <div class="form-group">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                @switch (Model.TicketStatusID)
                {
                    case 1:
                        <input type="submit" value="Assign" class="btn btn-primary" />
                        break;
                    case 2:
                        //move it to in progress status
                        <input type="submit" value="Work Ticket?" class="btn btn-primary" />
                        break;
                    case 3:
                        //resolve the ticket
                        <input type="submit" value="Resolve" class="btn btn-success" />
                        break;
                    case 4:
                        //reopen ticket
                        <input type="submit" value="Resolve" class="btn btn-danger" />
                        break;
                    default:
                        break;
                }
               
            </div>


            </div>
        </div>
     </div>


      
        