@model TST.DAL.TSTEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TSTEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpDateOfHire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpDateOfHire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSTDepartment.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSTDepartment.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSTEmployeeStatus.EmpStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
