@model IEnumerable<TST.DAL.TSTEmployee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDateOfHire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSTDepartment.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSTEmployeeStatus.EmpStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpDateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpDateOfHire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTDepartment.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSTEmployeeStatus.EmpStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpID })
        </td>
    </tr>
}

</table>
