@model TST.DAL.TSTEmployee

@{
    if (Model.DepartmentID == 6)
    {
        if (Model.EmpStatusID == 6)
        {
            ViewBag.Title = "Re-Enroll " + Html.DisplayFor(model => model.GetFullName);
        }
        else
        {
            ViewBag.Title = "Drop out " + Html.DisplayFor(model => model.GetFullName);
        }
    }
    else
    {

        ViewBag.Title = "Resign " + Html.DisplayFor(model => model.GetFullName);

    }
}
<div class="emp-det-basic col-md-8 col-md-offset-2">
    <div class="emp-det-basic-top text-center">
        <h1>@Html.DisplayFor(model => model.GetFullName)</h1>
        <img id="emp-photo" src="~/Content/TSTUserImages/@Html.DisplayFor(model => model.EmpPhoto)" />
        @*<input type="hidden" id="grabPic" name="grabPic" value="@ViewBag.PassImg" />
            <div name="employeePhoto" id="employeePhoto" />*@


    </div>
    <div class="emp-det-basic-bottom">

        <h2 class="emp-det-basic-header text-center" style="float:none;">@ViewBag.Title</h2>
        @*&& User.IsInRole("Admin") || Request.IsAuthenticated && Model.EmpUserID == currentUserId || Request.IsAuthenticated && User.IsInRole("HR")*@

        <span class="clearfix"></span>
        <span class="emp-det-info-entry"><i class="fa fa-phone"></i>&nbsp;Phone: @Html.DisplayFor(model => model.EmpPhone)</span>
        <span class="emp-det-info-entry"><i class="fa fa-envelope-o"></i>&nbsp;Email: @Html.DisplayFor(model => model.EmpEmail)</span>
        <span class="emp-det-info-entry"><i class="fa fa-birthday-cake"></i>&nbsp;Born on @Html.DisplayFor(model => model.EmpDateOfBirth)</span>

        <!-- #region Crazy Logic -->


        @if (Model.EmpStatusID == 1 || Model.EmpStatusID == 2)
        {
            if (Model.DepartmentID == 4)
            {

                <span class="emp-det-info-entry"><i style="margin-right: 1px; margin-left: 2px;" class="fa fa-university"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) Instructor since @Html.DisplayFor(model => model.EmpDateOfHire)</span>

            }
            if (Model.DepartmentID == 3)
            {

                <span class="emp-det-info-entry"><i class="fa fa-code"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) Technician since @Html.DisplayFor(model => model.EmpDateOfHire)</span>

            }
            if (Model.DepartmentID == 5)
            {

                <span class="emp-det-info-entry"><i class="fa fa-user"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) HR Rep since @Html.DisplayFor(model => model.EmpDateOfHire)</span>

            }
            if (Model.DepartmentID == 1)
            {

                <span class="emp-det-info-entry"><i class="fa fa-briefcase"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) Administrator since @Html.DisplayFor(model => model.EmpDateOfHire)</span>

            }
            if (Model.DepartmentID == 6)
            {

                <span class="emp-det-info-entry"><i class="fa fa-book"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) as a Student since @Html.DisplayFor(model => model.EmpDateOfHire)</span>

            }
        }
        else
        {
            if (Model.DepartmentID == 4)
            {
                if (Model.EmpStatusID == 3)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Ex-Instructor, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-fire"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
                if (Model.EmpStatusID == 5)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Retired Instructor, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-glass"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
            }
            if (Model.DepartmentID == 3)
            {
                if (Model.EmpStatusID == 3)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-user"></i>Ex-HR Rep, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-fire"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
                if (Model.EmpStatusID == 5)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-user"></i>Retired HR Rep, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-glass"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
            }
            if (Model.DepartmentID == 5)
            {
                if (Model.EmpStatusID == 3)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Ex-Technician, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-fire"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
                if (Model.EmpStatusID == 5)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Retired Technician, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-glass"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
            }
            if (Model.DepartmentID == 1)
            {
                if (Model.EmpStatusID == 3)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Ex-Administrator, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-fire"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
                if (Model.EmpStatusID == 5)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Retired Administrator, hired on: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-glass"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
            }
            if (Model.DepartmentID == 6)
            {
                if (Model.EmpStatusID == 4)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Ex-Student, start date: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-exclamation"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
                if (Model.EmpStatusID == 6)
                {
                    <span class="emp-det-info-entry"><i style="margin-right:2px;" class="fa fa-university"></i>Dropout, start date: @Html.DisplayFor(model => model.EmpDateOfHire)</span>
                            <span class="emp-det-info-entry"><i style="margin-left: 2px;margin-right: 1px;" class="fa fa-beer"></i>&nbsp;@Html.DisplayFor(model => model.TSTEmployeeStatus.EmpStatusName) on @Html.DisplayFor(model => model.EmpEndDate)</span>

                }
            }

        }
        @if (Model.EmpCity != null || Model.EmpState != null)
        {
            <span class="emp-det-info-entry"><i style="margin-left: 3px; margin-right:4px;" class="fa fa-map-marker"></i>&nbsp;Lives in @Html.DisplayFor(model => model.GetCityState)</span>

        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                @if (Model.DepartmentID == 6)
                {
                    if (Model.EmpStatusID == 6)
                    {
                        <input type="submit" value="Re-Enroll?" class="btn btn-success" style="margin-right: 5px" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        <input type="submit" value="Drop out?" class="btn btn-danger" style="margin-right: 5px" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                    }

                }
                else
                {
                    <input type="submit" value="Resign?" class="btn btn-danger" style="margin-right: 5px" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                }

            </div>
        }

</div>


</div>
<div class="clearfix"></div>