@model TST.DAL.TSTDepartment

@{
    if (Model.IsActive == true)
    {
        ViewBag.Title = "Deactivate";
    }
    else
    {
        ViewBag.Title = "Reactivate";
    }
   
}

<div class="col-md-6 side-tb-wrapper col-md-offset-3">
    <div class="side-tb-entry">
        <div class="side-tb-header">
            <h4>@Html.DisplayFor(model => Model.DepartmentName)</h4>
            @if (Model.IsActive == true)
            {
                <div class="on"></div>
            }
            else
            {
                <div class="off"></div>
            }

        </div>
        <div class="side-tb-body">
            @Html.DisplayFor(modelItem => Model.DepartmentDescription)
        </div>
        <div class="side-tb-footer">
    
    
            @if (Model.IsActive == true)
            {

                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="De-Activate" class="btn btn-danger" />
                    @Html.ActionLink("Back to List", "Index", null,  new { @class = "btn btn-primary" })
                }
            }
            else
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Re-Activate" class="btn  btn-success" />

                    @Html.ActionLink("Back to List", "Index", null,  new { @class = "btn btn-primary" })
                }

            }
        </div>
    </div>


</div>
<div class="clearfix"></div>

