@model TST.DAL.TSTEmployeeStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TSTEmployeeStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpStatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpStatusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
