@model IEnumerable<TST.DAL.TSTEmployeeStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpStatusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStatusDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpStatusID })
        </td>
    </tr>
}

</table>
